/* styling of all the  pages are done here....*/
*{
		box-sizing:border-box;
	}


/* styling of cover page */

	body{
		width:80%;
		margin:auto;
		margin-top:1%;
		/*background:#00CCFF;*/
		background:off-white;
		-webkit-background-size:cover;
		background-repeat: no-repeat;
	}
	
